
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= bootstrap_form_for @creature do |f| %>

        <% if @creature.errors.any? %>
          <div id="error_explanation">
            <h2><%=pluralize(@creature.errors.count, "error") %> -- Cannot add creature to the bog: </h2>
              <ul>
                <% @creature.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          </div>
        <% end %>

        <p>
          <%= f.label "Creature Name"  %><br>
          <%= f.text_area :name , :placeholder => "Name" %>
        </p>

        <p>
          <%= f.label "Creature Description" %><br>
          <%= f.text_area :desc, :placeholder => "Description" %>
        </p>

        <%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>

        <p>
          <%= f.submit %>
        </p>

      <% end %>
    </div>
  </div>